/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* definitions */
:root {
    /*  colors */
    --main-bg-color: #174a5a;
    --highlight-color: orangered;

    /* sizes */
    --max-width: 1200px;
    --max-padding: 20px;
}

/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: #666;
}

a:hover {
    color: var(--highlight-color)
}

.centered-wrapper {
    width: 100%;
    max-width: var(--max-width);
    padding: var(--max-padding);
    margin: 0 auto;

    text-align: justify;
    hyphens: auto;
}

/* section heights */
section.full-height {
    min-height: 100vh;
}

section.half-height {
    min-height: 50vh;
}

section.quarter-height {
    min-height: 25vh;
}

section.v-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* section backgrounds */
section.bg-main-color {
    background-color: var(--main-bg-color);
    color: white;
}

section.bg-highlight-color {
    background-color: var(--highlight-color);
}

section.bgimage {
    background-image: url("../../images/coffeepic1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* columns */
section.columns .centered-wrapper {
    display: flex;
    flex-flow: wrap;
    gap: 20px;
}

section.columns .column {
    background-color: var(--highlight-color);
    padding: 10px;
    flex-grow: 1;
    width: 30%;
}

header {
    background-color: var(--main-bg-color);
    position: sticky;
    top: 0;
}

header ul {
    list-style: none;
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    color: var(--highlight-color);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--max-width);
}

header nav>a {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 10px;
}

header nav img {
    max-height: 3rem;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
}




@media only screen and (max-width: 600px) {
    header nav {
        display: block;
    }
    
    section.columns .column {
        width: 45%;
    }
}

@media only screen and (max-width: 300px) {
    header nav {
        display: none;
    }

    section.columns .column {
        width: 100%;
    }
}