/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unlock&display=swap');


/* definitions */
:root {
    /*  colors */
    --main-bg-color: #174a5a;
    --highlight-color: orangered;

    /* sizes */
    --max-width: 1200px;
    --max-padding: 20px;

    /* gaps */
    --main-gap: 30px;
}

/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

img {
    width: 100%;
}

figure {
    background-color: #174a5a;
}

figure .img-wrapper {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
}

figcaption {
    color: white;
    font-size: .8rem;
    text-align: center;
    padding: 5px;
}

div.centered {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Unlock", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
}

h1 {
    color: var(--highlight-color);
}

h1.supersize {
    font-size: 4em;
    text-shadow:
        3px 3px 0 #000,
        -3px 3px 0 #000,
        -3px -3px 0 #000,
        3px -3px 0 #000;
}


h1.inverted {
    color: white;
}

h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1.5em;
}

h2 {
    font-size: 2em;
    color: var(--highlight-color);
    text-align: center;
}

h2.underlined::after {
    content: "";
    height: 8px;
    background: -webkit-radial-gradient(rgba(0, 0, 0, .1), rgba(255, 255, 255, 0) 60%);
    background: -moz-radial-gradient(rgba(0, 0, 0, .1), rgba(255, 255, 255, 0) 60%);
    background: -o-radial-gradient(rgba(0, 0, 0, .1), rgba(255, 255, 255, 0) 60%);
    background: radial-gradient(rgba(0, 0, 0, .1), rgba(255, 255, 255, 0) 60%);
    background-size: 100% 16px;
    display: block;
    margin-bottom: 30px;
}

p {
    margin-bottom: 1rem;
}
p.col2 {
    columns: 2;
    column-gap: var(--main-gap);
}
p.col3 {
    columns: 3;
    column-gap: var(--main-gap);
}

a {
    text-decoration: none;
    color: #666;
}

a:hover {
    color: var(--highlight-color)
}

ul {
    list-style: none;
}

address {
    font-style: normal;
}

address li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.centered-wrapper {
    width: 100%;
    max-width: var(--max-width);
    padding: var(--max-padding);
    margin: 0 auto;

    text-align: justify;
    hyphens: auto;
}

input,
textarea {
    width: 100%;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, .75);
}

/* section heights */
section.full-height {
    min-height: 100vh;
}

section.half-height {
    min-height: 50vh;
}

section.quarter-height {
    min-height: 25vh;
}

section.v-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* section backgrounds */
section.bg-main-color {
    background-color: var(--main-bg-color);
    color: white;
}

section.bg-highlight-color {
    background-color: var(--highlight-color);
}

section.bgimage {
    background-image: url("../../images/coffeepic1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section.color-inverted {
    color: white;
}

section.color-inverted h2 {
    color: var(--main-bg-color);
}

/* columns */
section.grid .grid-wrapper {
    display: grid;
    gap: var(--main-gap);
}

section.grid.col2 .grid-wrapper {
    grid-template-columns: repeat(2, 1fr);
}

section.grid.col3 .grid-wrapper {
    grid-template-columns: repeat(3, 1fr);
}

section.grid .column {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}

section.grid .column h3 {
    color: var(--main-bg-color);
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

header {
    background-color: var(--main-bg-color);
    position: sticky;
    top: 0;
    z-index: 5;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}

header ul {
    list-style: none;
}

header a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

header a:hover,
header li.active a {
    color: var(--highlight-color);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--max-width);
}

header nav>a {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 10px;
}

header nav>a span {
    display: inline-block;
    font-size: 2rem;
    font-family: "Unlock", serif;
    text-transform: capitalize;

}

header nav img {
    max-height: 3rem;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

header .mobile-nav {
    display: none;
}

header .mobile-nav summary {
    color: white;
    text-align: center;
}

header .mobile-nav summary::marker {
    content: "\2261";
    display: block;
    font-size: 3rem;
    transform: rotate(45deg);
}

header .mobile-nav[open] summary::marker {
    color: var(--highlight-color);
    content: "\2716";
}

footer {
    font-size: .8rem;
}

/* buttons */
.btn {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 10px 0;
    cursor: pointer;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, .75);
}

.btn:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
    color: var(--highlight-color);
}

/* responsive break points */
@media only screen and (max-width: 1280px) {}

@media only screen and (max-width: 900px) {

    header nav a span {
        display: block;
        text-align: center;
    }

    header nav ul {
        justify-content: center;
    }

    section.columns .column {
        width: 45%;
    }

    section.grid.col2 .grid-wrapper,
    section.grid.col3 .grid-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media only screen and (max-width: 599px) {

    header nav,
    header nav a {
        display: block;
    }

    h2 {
        font-size: 1.5em
    }

    section.grid.col2 .grid-wrapper,
    section.grid.col3 .grid-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media only screen and (max-width: 399px) {
    header nav ul {
        display: none;
    }

    header .mobile-nav {
        display: block;
    }
}